*{
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
}
html,body{
  margin: 0;
  height: 50%;
}
.nav-link:hover{
  background-color: #7ed957;
}
.navbar{
  /* background-color: #0f2026; */
  background-color: rgba(0, 0, 0, 0.15);

}
p{
  font-family: 'Open Sans', sans-serif;
}
.navbar-brand{
  font-family: 'Russo One', sans-serif;
  font-weight: bolder;
  color: #fff;
  padding-right: 0;
}

h3{
  font-family: 'Open Sans', sans-serif;
}

body{
  background-color: #2c5c6d;
  color: #fff;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #0f2026;
  outline: 1px solid slategrey;
  border-radius: 5px;
}

.intro-pic{
  background-image: url("../images/firstImage.jpg");
  min-height: 30vh;
  border-radius: 4px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .intro-pic p{
  font-size: 7px;
  position: absolute;
  bottom: 8px;
  right: 16px;
} */

.intro-pic .message{
  font-family: 'PT Sans', sans-serif;
  background-color: rgba(15, 32, 38,0.5);
  border-radius: 4px;


  font-size: 2em;
  padding: 10px;

}

.code-snip{
  background-color: black;
  border-radius: 4px;
  padding: 10px;
  /* clear: both; */
  overflow: hidden;
}
code{
  color: white;
}
.code-snip button{
  float: right;
  color: grey;
  font-size: .8em;
}
.code-snip button:hover{
  float: right;
  background-color: #0f2026;
  color: white;
}

article p{
  background-color: rgba(15, 32, 38,0.5);
  padding: 5px;
  font-family: 'PT Sans', sans-serif;
  border-radius: 4px;
  margin-top: 10px;
}


#dev{
  height: 200px;
  width: 200px;
  border: 6px solid #2c5c6d;
  margin-left:08%;
  /* flex- */
}
.carosel{
  margin-top: 10px;
}
.card{
  background-color: #3a7a92;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: all 0.3s;
  font-style: italic;
  width: 100% !important;
}
.card-text{
  word-wrap: break-word;
}
.card:hover {
  box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.2);
  transform: translateY(-4px) scale(1.00);
}

/* footer color #36474e */
.footer{
  background-color: #36474e;
  color: #fff;
  position: relative;
  bottom: 0px;
  margin-bottom: 1px;
  /* position: fixed; */
  width: 100%;
  min-height:100%;
}

.footer .container{
  margin-bottom: 0px;
  height: auto;
}

.icon{
  height: 20px;
  width: 20px;
  fill:#567 !important;
}
.icon:hover{
  opacity:0.2;
}



.container-1{
  padding-left: 50px;
  padding-right: 50px;
}

/* aside */
.aside{
  background-color: #36474e;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'PT Sans', sans-serif;
}
.aside-item{
  width: 100%;
  align-items: center;
  padding: 10px;
  margin: 0px;
  border-radius: 4px;
}
.aside-item-link{
  text-decoration: none;
  color: inherit;
}
.aside-item:hover{
  background-color: #7ed957;
  color: #fff;
}
div h2{
  padding: 2px;
  padding-left: 5px;
  background: #4999b6;
  border-radius: 5px;
  /* margin-left: 2px; */
  font-family: 'Russo One', sans-serif;
}

img{
  height: 7%;
  width: 7%;
  padding: 0%;
}

.login-form{
  /* margin: 200px; */
  /* padding-right: 200px; */
  /* margin-left: 200px; */
  text-align: center;

  padding-top: 4px;
  padding-bottom: 50px;
  border-radius: 5px;
  background-color: #36474e;
}
footer .container{
  margin-bottom: 0px;
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .card{
    height: 100px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px ) and (max-width:119.98px) {
  .card{
    height: 20%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width:991.98px) {
  .footer-med+p{
    align-content: center;
  }
  .card{
    height: 100px;
  }

}
/* .aside-item{
  width: 100%;
  align-items: center;
  padding: 10px;
  margin: 0px;
  border-radius: 30px;
  background: #4999b6;
}
.aside-item:hover{
  background-color: #7ed957;
  color: #fff;
} */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width:767.98px) {

}
