*{
  box-sizing: border-box;
}
.nav-link:hover{
  background-color: #7ed957;
}
.navbar{
  background-color: #0f2026;
}
p{
  font-family: 'Open Sans', sans-serif;
}
.navbar-brand{
  font-family: 'Russo One', sans-serif;
  font-weight: bold;
  color: #fff;
}

body{
  background-color: #2c5c6d;
  color: #fff;
}

/* footer color #36474e */
.footer{
  background-color: #36474e;
  color: #fff;
  bottom: 0;
  margin-bottom: -20px;
  /* position: fixed; */
  width: 100%;

}
.footer .container{
  margin-bottom: 0px;
}



.container-1{
  padding-left: 50px;
  padding-right: 50px;
}

/* aside */
.aside{
  background-color: #36474e;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.aside-item{
  width: 100%;
  align-items: center;
  padding: 10px;
  margin: 0px;
  border-radius: 4px;
}
.aside-item-link{
  text-decoration: none;
  color: inherit;
}
.aside-item:hover{
  background-color: #7ed957;
  color: #fff;
}
div h2{
  padding: 2px;
  padding-left: 5px;
  background: #4999b6;
  border-radius: 5px;
  /* margin-left: 2px; */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* .footer{
    position: fixed;
    height: 135px;
    bottom: 0;
    width: 100%;
  } */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px ) and (max-width:119.98px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width:991.98px) {
  .footer-med+p{
    align-content: center;
  }
}
/* .aside-item{
  width: 100%;
  align-items: center;
  padding: 10px;
  margin: 0px;
  border-radius: 30px;
  background: #4999b6;
}
.aside-item:hover{
  background-color: #7ed957;
  color: #fff;
} */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width:767.98px) {

}
