*{
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
}
body{
  background-color: #0f2026;
  margin: 0;
  padding: 0;
  color: white;
  display: flex;
  flex-direction: column;
}
header{
  background-color: #070f12;
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
}
header .brand{
  justify-content: center;

}
header .brand span{
  font-size: 20px;
  justify-content: center;
  padding-right: 0px;
  font-family: 'Russo one', sans-serif;
}
header .links{
  align-items: center;

}
header .links ul{
  list-style-type:none;
  margin: 0;
  padding: 0;

}
header .links ul li{
  display: inline;
}
header .links ul li a{
  text-decoration: none;
  color: white;
  padding: 20px;
}

header .links ul li a:hover{
  background-color: #93B7BE;
  transition: all 0.3s;
}
article{
  padding: 10px;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #0f2026;
  outline: 1px solid slategrey;
  border-radius: 5px;
}

main{
  display: flex;
  flex-direction: row;
}

article{
  background-color: #0f2026;
  flex: 2.2;
  flex-wrap: wrap;
}
article p+p{
  background-color: #2C5C6D;
  padding: 10px;
  border-radius: 5px;
}

aside{
  flex: 0.8;
  background-color: #2C5C6D;
  padding: 20px;
  text-align: center;
}

footer{
  background-color: #3A7A92;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.parts{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.parta, .partb{
  flex: 2;
}


form input{
  width: 100%;
  border-radius: 4px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
  /* border-bottom: #93B7BE solid; */
  background-color: #0f2026;
  color: white;
  padding: 10px;
}
form input:focus{
    width: 100%;
    border: none;
    border-radius: 4px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: #93B7BE solid;
    /* border-bottom: red solid; */
    background-color: #0f2026;
    color: white;
    padding: 10px;
    transition: 0.2s ease-out;
}

.topics ul li{
  list-style-type: none;
  display: block;
  width: 100%;
  background-color: #93B7BE;
  text-align: center;
  margin: 10px;
  margin-left: 0;
  padding: 10px;
  padding-left: 0;
  border-radius: 4px;
}
.topics ul{
  margin: 0;
  padding: 0;
}


.card-text{
  word-wrap: break-word;
}
.card:hover {
  box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.2);
  transform: translateY(-4px) scale(1.00);
}
















/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  footer hr{
    display: none;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px ) and (max-width:119.98px) {
  footer hr{
    display: none;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width:991.98px) {
  footer hr{
    display: none;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width:767.98px) {
  header{
    display: flex;
    flex-direction: column;
  }
  header .links ul li{
    display: block;
  }
  main{
    display: flex;
    flex-direction: column;
  }
  .parts{
    display: flex;
    flex-direction: column;
  }
  .parta{
    text-align: center;
  }

  footer hr{
    display: block;
    color: black;
    width: 90%;
  }
  .last{
    text-align: center;
  }
}

@media(max-width:575px){
  header{
    display: flex;
    flex-direction: column;
  }
  header .links ul li{
    display: block;
    justify-content: center;
    width: 100%;
    /* background-color: green; */
  }
  main{
    display: flex;
    flex-direction: column;
  }
  .parts{
    display: flex;
    flex-direction: column;
  }
  .parta{
    text-align: center;

  }
  .partb{
    text-align: center;
  }
  footer hr{
    display: block;
    width: 90%;
    color: black;
  }
  .last{
    text-align: center;
  }
}
